<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Python_Data_Analytics_Course/blob/main/4_Problems/2_10_Pandas Applying Functions.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

In [1]:
# Importing Libraries
import pandas as pd
from datasets import load_dataset
import matplotlib.pyplot as plt  

# Loading Data
dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

# Data Cleanup
df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])

c:\Users\alexm\anaconda3\envs\python_course\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

## ðŸŸ© Convert Date to String (2.10.1)

In [4]:
df['job_posted_date_str'] = df.apply(lambda x: x['job_posted_date'].strftime('%Y-%m-%d'), axis=1)

df[['job_posted_date', 'job_posted_date_str']].head()

      job_posted_date job_posted_date_str
0 2023-06-16 13:44:15          2023-06-16
1 2023-01-14 13:18:07          2023-01-14
2 2023-10-10 13:14:55          2023-10-10
3 2023-07-04 13:01:41          2023-07-04
4 2023-08-07 14:29:36          2023-08-07

---

## ðŸŸ¨ Days Since Posted (2.10.2)

In [6]:
from datetime import datetime

df['days_since_posted'] = df['job_posted_date'].apply(lambda x: (datetime.now() - x).days)

df[['job_posted_date', 'days_since_posted']].head()

      job_posted_date  days_since_posted
0 2023-06-16 13:44:15                730
1 2023-01-14 13:18:07                883
2 2023-10-10 13:14:55                614
3 2023-07-04 13:01:41                712
4 2023-08-07 14:29:36                678

---

## ðŸŸ¥ Salary Category (2.10.3)

In [7]:
df_filtered = df.dropna(subset=['salary_year_avg']).copy()
df_filtered['salary_category'] = df_filtered['salary_year_avg'].apply(
    lambda x: 'Low' if x < 60000 else ('Medium' if x <= 100000 else 'High')
)

df_filtered[['salary_year_avg', 'salary_category']]

        salary_year_avg salary_category
28             109500.0            High
77             140000.0            High
92             120000.0            High
100            228222.0            High
109             89000.0          Medium
...                 ...             ...
785624         139216.0            High
785641         150000.0            High
785648         221875.0            High
785682         157500.0            High
785692         157500.0            High

[22003 rows x 2 columns]

---